# Data Science Tools and Ecosystems

#
In this notebook, Data Science Tools and Ecosystem are summarized.

#
**Objectives**

- List of popular languages for Data Science
- List of popular libraries used for Data Science
- List of popular Data Science tools
- Examples of evaluationg arithmetic expression in Python

#
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. SQL
5. Java

#
Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy
3. SciPy
4. Matplotlib

#
|Data Science Tools|
|-------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

#
This a simple arithmetic expression to mutiply then add integers.

In [23]:
(3*4)+5

17

#
This will convert 200 minutes to hours by diving by 60.

In [24]:
200/60

3.3333333333333335